includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src

    # The level 8 is the highest level
    level: 9

    excludePaths:
        - src/Http/Middleware/Authorize.php

    checkMissingIterableValueType: false
